---
layout: default
title: Coworking Rural en La Sierra de Cádiz
image: assets/images/social/default.jpg
lang: es
ref: home
---

<div class="hero">
  <div class="hero-grid">
    <div class="hero-grid-cell hero-grid-cell-left">
      <img
        class="responsive-img"
        src="/assets/images/coworking-espacio-principal-800x533.jpg"
        srcset="/assets/images/coworking-espacio-principal-1500x1000.jpg 2x"
        width="800"
        height="533"
        alt="El área principal de coworking"
        loading="lazy"
      />
    </div>
    <div class="hero-grid-cell hero-grid-cell-right">
      <img
        class="responsive-img"
        src="/assets/images/prado-del-rey-sierra-de-cadiz-800x533.jpg"
        srcset="/assets/images/prado-del-rey-sierra-de-cadiz-1500x1000.jpg 2x"
        width="800"
        height="533"
        alt="Foto de Prado del Rey"
        loading="lazy"
      />
    </div>
  </div>
  <h1 class="hero-title">
    Escapa a la Sierra de Cádiz y trabaja en la naturaleza en
    <span class="is-yellow-text">La Colmena Coworking</span> Prado del Rey
  </h1>
</div>

<!-- Trabajadores Remotos / Nómadas Digitales / Emprendedores -->
<div class="audience-grid">
  <div>
    {% include icon-remote-worker.html %}
    <h2 class="audience-title">Trabajadores Remotos</h2>
    <p>
      Sal de casa, mejora tu equilibrio entre trabajo y vida, aumenta tu productividad. Diviértete más trabajando cómoda
      y con estilo.
    </p>
  </div>
  <div>
    {% include icon-digital-nomad.html %}
    <h2 class="audience-title">Nómadas Digitales</h2>
    <p>
      Descubre Prado del Rey y la Sierra de Cádiz. Increíble naturaleza, actividades ilusionantes al aire libre, comida
      excelente, gente amigable y un bajo costo de vida.
    </p>
  </div>
  <div>
    {% include icon-entrepeneur.html %}
    <h2 class="audience-title">Emprendedores</h2>
    <p>
      Elimina distracciones, aumenta el enfoque en un ambiente amigable y profesional. Obtén consejos, intercambia
      habilidades y conocimientos con tus compañeros de coworking.
    </p>
  </div>
</div>

{% include gallery.html %}

<div class="how-it-works mx-4">
  <h2 class="is-centered-text">Cómo funciona</h2>
  <div class="container is-wide callout-text">
    <p class="text-background-gradient">
      <a href="/contacto">Avísanos</a> cuándo te gustaría venir o pasa en cualquier momento. Luego, elige un escritorio,
      prepara una bebida caliente, conéctate al WiFi, pon música y disfruta de trabajar.
    </p>
  </div>
</div>

<div class="offer-section-shell">
  <div class="background-hexagon-a" aria-hidden="true"></div>
  <div class="background-hexagon-b" aria-hidden="true"></div>

  <div class="offer-section">
    <h2 class="is-centered-text mb-16">Elige tu opción</h2>

    <div class="offer-img-copy-grid">
      <div class="offer-img">
        <img
          class="responsive-img"
          src="/assets/images/escritorio-fijo.jpg"
          srcset="/assets/images/escritorio-fijo@2x.jpg 2x"
          alt="Escritorio fijo"
          height="408"
          width="568"
          loading="lazy"
        />
      </div>
      <div class="offer-copy">
        <h3 class="offer-title">Escritorio fijo</h3>
        <p class="offer-sub-title">Tu espacio personal</p>

        <p>
          Estos espacios de trabajo han sido diseñados para profesionales independientes y equipos pequeños. Apreciarás
          tener un escritorio permanente y personalizado a tu gusto, que te permita organizar tu ordenador y equipo de
          trabajo esencial de la manera que prefieras. Tendrás control total sobre tu espacio de trabajo.
        </p>

        <a class="button" href="/precios">Ver Precios</a>
      </div>
    </div>
    <div class="offer-copy-img-grid">
      <div class="offer-img">
        <img
          class="responsive-img"
          src="/assets/images/hot-desks.jpg"
          srcset="/assets/images/hot-desks@2x.jpg 2x"
          alt="Escritorios flexibles"
          height="408"
          width="568"
          loading="lazy"
        />
      </div>
      <div class="offer-copy">
        <h3 class="offer-title">Escritorio flexible</h3>
        <p class="offer-sub-title">Libertad sin compromiso</p>

        <p>
          ¿Eres un nómada digital? ¿Necesitas un espacio de trabajo flexible disponible cuando lo necesites? ¿Quizás
          simplemente buscas un cambio de escenario de vez en cuando? Reconocemos que la vida y los negocios están en
          constante movimiento y no esperan a nadie. Por eso puedes coger tu portátil y trabajar cuando te convenga en
          nuestra ubicación.
        </p>

        <a class="button" href="/precios">Ver Precios</a>
      </div>
    </div>
    <div class="offer-img-copy-grid">
      <div class="offer-img">
        <img
          class="responsive-img"
          src="/assets/images/sala-de-reuniones.jpg"
          srcset="/assets/images/sala-de-reuniones@2x.jpg 2x"
          alt="Sala de reuniones"
          height="408"
          width="568"
          loading="lazy"
        />
      </div>
      <div class="offer-copy">
        <h3 class="offer-title">Sala de reuniones</h3>
        <p class="offer-sub-title">Reuniones y eventos</p>

        <p>
          ¿Necesitas un espacio elegante y privado para reuniones importantes con clientes? ¿Quieres reunir a tu equipo
          para una sesión de trabajo presencial? ¿O necesitas un lugar desde el cual realizar tus videoconferencias?
          Nuestra sala de reuniones está a tu servicio.
        </p>

        <a class="button" href="/precios">Ver Precios</a>
      </div>
    </div>
    <div class="offer-copy-copy-grid">
      <div class="offer-copy">
        <h3 class="offer-title">Oficina privada</h3>
        <p class="offer-sub-title">Privacidad para ti y tu equipo</p>

        <p>
          ¿Buscas una oficina privada para mantener a tu equipo conectado y productivo? Estamos planeando crear una con
          capacidad de 2-3 personas. ¡Avísanos si estás interesado y podemos acelerar nuestros planes para acomodarte!
        </p>

        <a class="button" href="/contacto">Contáctanos</a>
      </div>
      <div class="offer-copy offer-copy-b">
        <h3 class="offer-title">Oficina virtual</h3>
        <p class="offer-sub-title">Dirección comercial y postal profesional</p>

        <p>
          ¿Está interesado en establecer una presencia comercial profesional sin la necesidad de un espacio de trabajo
          físico? Benefíciese de utilizar la dirección de nuestro espacio de coworking como su dirección comercial y
          reciba y gestione su correo aquí.
        </p>

        <a class="button" href="/contacto">Contáctanos</a>
      </div>
    </div>
  </div>
  <!-- offer-section -->
</div>
<!-- offer-section-shell-->

<div class="location-grid">
  <div>
    <img
      class="responsive-img"
      src="/assets/images/prado-del-rey-atardecer-400x267.jpg"
      srcset="/assets/images/prado-del-rey-atardecer-800x533.jpg"
      alt="Atardecer en Prado del Rey"
      width="400"
      height="267"
      loading="lazy"
    />
    <h2 class="location-title">Ubicación</h2>
    <p>
      Estamos ubicados en el corazón de Prado del Rey, en la Sierra de Cádiz. Prado del Rey es un pueblo blanco andaluz
      de 6.000 habitantes. Se encuentra a poca distancia en coche, 1-2 horas, de algunas de las principales ciudades de
      España, como Málaga, Sevilla y Jerez.
    </p>

    <div>
      <a class="button button-light" href="https://goo.gl/maps/hb6xh781wfiESV9v9">Obtener Direcciones</a>
    </div>
  </div>
  <div>
    <img
      class="responsive-img"
      src="/assets/images/via-ferrata-sierra-de-grazalema-400x267.jpg"
      srcset="/assets/images/via-ferrata-sierra-de-grazalema-800x533.jpg"
      alt="Vía ferrata cerca de Benaoján, Sierra de Grazalema"
      width="400"
      height="267"
      loading="lazy"
    />
    <h2 class="location-title">Cosas Que Hacer</h2>
    <p>
      Situado justo al borde de la Sierra de Grazalema, tienes acceso a actividades de aventura como senderismo,
      barranquismo, vías ferratas y escalada en roca. La Sierra cuenta con rutas ciclistas de renombre. Prueba la cata
      de vinos, la observación de estrellas, la observación de aves o el yoga en el centro de retiros de clase mundial
      <a href="https://www.suryalila.com/">Suryalila Retreat Centre</a>.
    </p>
  </div>
</div>

<div id="faq" class="faq">
  <h2 class="faq-title is-centered-text">Preguntas Frecuentes</h2>

  {% for faq in site.data.faq_es.items %}
  <details class="faq-item">
    <summary class="faq-summary">
      <h3 class="faq-question">{{ faq.question }}</h3>
    </summary>
    <p class="faq-answer">{{ faq.answer }}</p>
  </details>
  {% endfor %}
</div>
