<footer class="footer">
  <img
    class="footer-logo"
    src="/assets/images/logo-footer.png"
    srcset="/assets/images/logo-footer@2x.png 2x"
    alt="La Colmena Coworking logo"
    height="55"
    width="60"
    loading="lazy"
  />

  <ul class="footer-links">
    <li><a href="mailto:info@colmenacowork.es">info@colmenacowork.es</a></li>
    <li><a href="https://api.whatsapp.com/send?phone=34665897255">+34 665 89 72 55</a></li>
    <li><a href="https://github.com/paddyohanlon/colmenacowork">Github</a></li>
  </ul>
  <div class="credits">Ilustraciones de <a href="https://alfonsobuendia.blogspot.com/">Alfonso Buendía</a></div>
  <div class="copyright">&copy; {{ 'now' | date: "%Y" }} La Colmena Coworking</div>
</footer>
