<footer class="footer">
  <img
    class="footer-bee"
    src="/assets/images/bee-sitting-left.png"
    srcset="/assets/images/bee-sitting-left@2x.png 2x"
    alt=""
    height="90"
    width="80"
    loading="lazy"
    role="presentation"
  />
  <div class="footer-columns">
    <!-- about -->
    <div>
      <img
        class="footer-logo"
        src="/assets/images/logo-footer-white.png"
        srcset="/assets/images/logo-footer-white@2x.png 2x"
        alt="La Colmena Coworking Rural, logo"
        height="55"
        width="60"
        loading="lazy"
      />
      <p class="footer-about">{{ site.t[page.lang].footer_about }}</p>
    </div>
    <!-- contact -->
    <div>
      <ul class="contact-links list-reset">
        {% include contact-items.html %}
      </ul>
    </div>
    <!-- social -->
    <div>
      <ul class="footer-links-social list-reset">
        <li>
          <a href="https://github.com/paddyohanlon/colmenacowork">
            {% include icon-github.html %}<span class="sr-only">GitHub</span></a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/lacolmenacoworking/">
            {% include icon-instagram.html %}<span class="sr-only">Instagram</span></a
          >
        </li>
        <li>
          <a href="https://www.facebook.com/lacolmenacoworkingrural">
            {% include icon-facebook.html %}<span class="sr-only">Facebook</span></a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-small-print">
    {%- if page.ref == 'home' %}
    <div class="special-mention">
      {{ site.t[page.lang].illustrations_by }} <a href="https://alfonsobuendia.blogspot.com/">Alfonso Buendía</a>
    </div>
    {%- endif %}
    <div class="copyright">&copy; {{ 'now' | date: "%Y" }} La Colmena Coworking</div>
  </div>
</footer>
