<div class="masonry-gallery">
  {% include gallery-tile.html type="square" img_base_name="la-colmena-tiles" alt="Close up of our front door sign" %}

  {% include gallery-tile.html type="landscape" img_base_name="chill-people" alt="People hanging out in the chill out area" %}
  
  {% include gallery-tile.html type="portrait" img_base_name="kitchen" alt="Our little kitchen" %}

  {% include gallery-tile.html type="portrait" img_base_name="office-from-back" alt="The main coworking space" %}

  {% include gallery-tile.html type="square" img_base_name="hexagons-wall" alt="Close up of hexagons on wall" %}

  {% include gallery-tile.html type="landscape" img_base_name="bookshelf" alt="Close up of the bookshelf" %}

  {% include gallery-tile.html type="landscape" img_base_name="meeting-room-people" alt="A group of people having a meeting in our meeting room" %}

  {% include gallery-tile.html type="square" img_base_name="prado-sunset" alt="Sunset over Prado del Rey" %}

  {% include gallery-tile.html type="portrait" img_base_name="door-sign" alt="Close up of our front door sandwich board" %}

  {% include gallery-tile.html type="portrait" img_base_name="chill" alt="The chill out area" %}

  {% include gallery-tile.html type="landscape" img_base_name="hot-desks-low" alt="Our hot desks" %}

  {% include gallery-tile.html type="square" img_base_name="kettle" alt="Close up of the kettle, tea and mug" %}
</div>
