<div class="masonry-gallery">
  {% include gallery-tile.html type="square" img_base_name="la-colmena-tiles" %}

  {% include gallery-tile.html type="landscape" img_base_name="chill-people" %}
  
  {% include gallery-tile.html type="portrait" img_base_name="kitchen" %}

  {% include gallery-tile.html type="portrait" img_base_name="office-from-back" %}

  {% include gallery-tile.html type="square" img_base_name="hexagons-wall" %}

  {% include gallery-tile.html type="landscape" img_base_name="bookshelf" %}

  {% include gallery-tile.html type="landscape" img_base_name="meeting-room-people" %}

  {% include gallery-tile.html type="square" img_base_name="prado-sunset" %}

  {% include gallery-tile.html type="portrait" img_base_name="door-sign" %}

  {% include gallery-tile.html type="portrait" img_base_name="chill" %}

  {% include gallery-tile.html type="landscape" img_base_name="hot-desks-low" %}

  {% include gallery-tile.html type="square" img_base_name="kettle" %}
</div>
