<div class="masonry-gallery">
  {% include gallery-tile.html type="square" img_base_name="prado-del-rey-plaza" %}

  {% include gallery-tile.html type="landscape" img_base_name="chill-people" %}
  
  {% include gallery-tile.html type="portrait" img_base_name="kitchen-2023" invisible_mobile="true" %}

  {% include gallery-tile.html type="portrait" img_base_name="office-from-back" %}

  {% include gallery-tile.html type="square" img_base_name="hexagons-wall" %}

  {% include gallery-tile.html type="landscape" img_base_name="bookshelf" invisible_mobile="true" %}

  {% include gallery-tile.html type="landscape" img_base_name="meeting-room-people" %}

  {% include gallery-tile.html type="square" img_base_name="prado-sunset" invisible_mobile="true" %}

  {% include gallery-tile.html type="portrait" img_base_name="door-sign" %}

  {% include gallery-tile.html type="portrait" img_base_name="chill" %}

  {% include gallery-tile.html type="landscape" img_base_name="hot-desks-low" %}

  {% include gallery-tile.html type="square" img_base_name="kettle" invisible_mobile="true" %}
</div>
