<header class="header">
  <a href="#skip-link-target" class="text-assistive display-at-top-on-focus"
    >{{ site.t[page.lang].skip_link_anchor_text }}</a
  >
  <!-- logo -->
  <div class="logo">
    <a href="/" title="{{ site.t[page.lang].logo_link_title_attr }}">
      <img
        src="/assets/images/logo-banner.png"
        srcset="/assets/images/logo-banner@2x.png 2x"
        alt="{{ site.t[page.lang].logo_alt }}"
        height="41"
        width="213"
      />
    </a>
  </div>

  <!-- toggle nav -->
  <a
    role="button"
    id="navbar-burger"
    class="navbar-burger"
    aria-label="{{ site.t[page.lang].toggle_menu_aria_label }}"
    aria-expanded="false"
  >
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>

  <!-- nav -->
  <nav id="main-menu" class="is-invisible-mobile" aria-label="{{ site.t[page.lang].main_menu_aria_label }}">
    <ul class="main-menu-items list-reset">
      <li>
        <a href="{{ site.t[page.lang].main_menu.blog.url }}"
        {%- if page.url == site.t[page.lang].main_menu.blog.url -%} class="is-active"{%- endif
          -%}>{{ site.t[page.lang].main_menu.blog.name }}</a
        >
      </li>
    </ul>

    <!-- language switcher -->
    <ul class="language-switcher list-reset" aria-label="{{ site.t[page.lang].language_switcher_aria_label}}">
      <!-- Concat pages and posts -->
      {% assign pages=site.pages | concat: site.posts | where:"ref", page.ref | sort: 'lang' %}
      {% for page in pages %}
      <li>
        <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>
