<!-- Sendinblue -->
<script>
  window.REQUIRED_CODE_ERROR_MESSAGE = "Elija un código de país";

  window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE =
    "La información que ha proporcionado no es válida. Compruebe el formato del campo e inténtelo de nuevo.";

  window.REQUIRED_ERROR_MESSAGE = "Este campo no puede quedarse vacío. ";

  window.GENERIC_INVALID_MESSAGE =
    "La información que ha proporcionado no es válida. Compruebe el formato del campo e inténtelo de nuevo.";

  window.translation = {
    common: {
      selectedList: "{quantity} lista seleccionada",
      selectedLists: "{quantity} listas seleccionadas",
    },
  };

  var AUTOHIDE = Boolean(0);
</script>

<script defer src="https://sibforms.com/forms/end-form/build/main.js"></script>
<script defer src="https://www.google.com/recaptcha/api.js?hl=es"></script>
