/* oswald-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/oswald-v49-latin-600.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */ url("../fonts/oswald-v49-latin-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: var(--color-black);
  color: var(--color-white);
  font-family: $typeface-body;
  font-weight: 400;
  line-height: 1.75;
}

p {
  margin-bottom: 1rem;

  &.large {
    font-size: $font-size-h5;
  }

  &.small {
    font-size: $font-size-small;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-white);
  font-family: var(--typeface-heading);
  font-weight: 700;
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  font-size: $font-size-h2;
}

h2 {
  font-size: $font-size-h3;
}

h3 {
  font-size: $font-size-h4;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: $font-size-small;
}

@media only screen and (min-width: $break-900) {
  h1 {
    font-size: $font-size-h1;
  }

  h2 {
    font-size: $font-size-h2;
  }

  h3 {
    font-size: $font-size-h3;
  }

  h4 {
    font-size: $font-size-h4;
  }

  h5 {
    font-size: $font-size-h5;
  }
}

figure {
  margin: 3em 0;
}

iframe {
  margin: 2em 0;
}

figcaption {
  font-size: $font-size-small;
  text-align: center;
}

small,
.text_small {
  font-size: $font-size-small;
}

a,
a:link {
  color: var(--color-white);
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
  text-underline-offset: 1px;
  text-decoration-color: var(--color-orange);
  transition: all $hover-transition-time;
}

blockquote {
  font-size: $font-size-h5;
  font-style: italic;
}

.main {
  background: var(--color-black);
  margin: 0 auto;
  max-width: 1600px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;

  &.is-wide {
    max-width: 750px;
  }
}

.button,
a.button {
  background: var(--color-brand);
  color: var(--color-white);
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0.9rem 1rem;
  border: 1px solid transparent;
  border-radius: $border-radius;
  transition: background-color $hover-transition-time ease-out, color $hover-transition-time ease-out;
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
  appearance: none;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background: transparent;
    // background: var(--color-white);
    border-color: var(--color-brand);
    color: var(--color-brand);
  }
}

.cta-button,
a.cta-button {
  margin: 1.5rem 0;
}

.button-light,
a.button-light {
  background: var(--color-yellow);
  color: var(--color-black);
}

.textfield {
  display: block;
  width: 100%;
  margin: 0 0 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-brand);
  border-radius: $border-radius;
  box-sizing: border-box;
  background-color: transparent;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: $font-size-h5;
  font-weight: normal;
  line-height: 1.65;
  color: var(--color-brand);
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  appearance: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--color-brand-light);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--color-brand-light);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: var(--color-brand-light);
}

.post {
  img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
  }
}

.post-preview {
  margin-bottom: 5em;
}

.bee-sitting {
  display: block;
  height: auto;
  margin: 3em auto;
  max-width: 200px;
}

.bees-talking {
  background: var(--color-white);
  display: block;
  height: auto;
  margin: 3em auto;
  padding: 1.75rem;
  max-width: 217px;

  --hex-size: 180px;
  clip-path: var(--hexagon);
  height: var(--hex-size);
  width: calc(var(--hex-size) * var(--hexagon-width-ratio));

  img {
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

.bio-grid {
  display: grid;
  gap: 1em;

  @media only screen and (min-width: 600px) {
    grid-template-columns: 50% 50%;
  }
}

.bio-figure {
  text-align: center;

  img {
    border-radius: 100px;
    max-width: 160px;
  }

  figcaption {
    font-style: italic;
  }
}

.footer {
  background: #000;
  border-top: 10px solid var(--color-yellow);
  clip-path: polygon(0 0, 100% calc(2vh), 100% 100%, 0 100%);
  color: var(--color-gray);
  margin-top: 6em;
  padding: 3em 1em 10.5em 1em;
  position: relative;

  @media only screen and (min-width: $break-900) {
    padding-bottom: 1em;
  }

  p,
  ul {
    &:first-child {
      margin-top: 0;
    }
  }

  a,
  a:link {
    color: var(--color-gray);
    text-decoration-color: var(--color-gray);
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration-color: var(--color-orange);
  }
}

.footer-bee {
  position: absolute;
  right: 6%;
  bottom: 0;
  padding: 2rem 1rem 0 1rem;
  background: var(--color-white);

  --hex-size: 130px;
  clip-path: var(--hexagon);
  height: var(--hex-size);
  width: calc(var(--hex-size) * var(--hexagon-width-ratio));

  display: flex;
  justify-content: center;
  align-items: baseline;
}

.footer-columns {
  display: grid;
  gap: 2em 3em;

  @media only screen and (min-width: $break-900) {
    grid-template-columns: minmax(200px, 370px) repeat(auto-fill, minmax(200px, 300px));
  }
}

.footer-logo {
  height: auto;
  max-width: 60px;
}

.contact-links {
  li {
    display: grid;
    gap: 0.75em;
    grid-template-columns: 30px 1fr;
    margin-bottom: 1em;
  }
}

.footer-links-social {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 30px);
}

.footer-about {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer-small-print {
  font-size: $font-size-small;
  margin-top: 2em;
}

.special-mention {
  font-style: italic;
}

.icon {
  width: 30px;
}

.icon-part {
  fill: var(--color-gray);
}

.icons-dark {
  .icon-part {
    fill: var(--color-black);
  }
}

.icon-social-bg {
  fill: var(--color-gray);
}

.icon-social-fg {
  fill: var(--color-black);
}

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
  margin-top: 3em;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

iframe[src*="youtube-nocookie.com"] {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.hero {
  margin-top: -20px; // hide behind header slant
  position: relative;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-grid-cell {
  position: relative;
  width: calc(100% + 2.4vw);

  img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
}

.hero-grid-cell-left {
  clip-path: polygon(0 0, 100% 0, calc(100% - 5vw) 100%, 0 100%);
}

.hero-grid-cell-right {
  clip-path: polygon(5vw 0, 100% 0, 100% 100%, 0 100%);
  left: -2.4vw;
}

.hero-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  margin: 0 auto;
  padding: 0 10px;
  font-size: 14px;

  @media only screen and (min-width: $break-468) {
    font-size: 20px;
    padding: 10px;
  }

  @media only screen and (min-width: $break-900) {
    font-size: 40px;
    width: 700px;
    bottom: auto;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
  }
}

.location-grid {
  display: grid;
  gap: 5rem 2rem;
  grid-template-columns: minmax(200px, 400px);
  justify-content: space-evenly;

  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1.5rem;

  @media only screen and (min-width: $break-768) {
    grid-template-columns: repeat(2, minmax(200px, 400px));

    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.location-title {
  font-size: $font-size-h3;
}

.audience-grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: minmax(200px, 400px);
  justify-content: center;

  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1.5rem;
  text-align: center;

  @media only screen and (min-width: $break-900) {
    grid-template-columns: repeat(3, minmax(200px, 400px));

    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.audience-icon {
  fill: var(--color-yellow);
  width: 60px;
}

.audience-title {
  font-size: $font-size-h3;
  margin-top: 0;
}

.callout-text {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;

  @media only screen and (min-width: $break-900) {
    font-size: 36px;
  }
}

.text-background-gradient {
  background: -webkit-linear-gradient(300deg, var(--color-yellow) 20%, var(--color-orange) 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.offer-section-shell {
  background-color: var(--color-yellow);
  color: var(--color-black);
  overflow: hidden;
  position: relative;
  padding: 1rem;

  h1,
  h2,
  h3 {
    color: var(--color-black);
  }
}

.how-it-works {
  margin-bottom: 7rem;
}

.offer-section {
  margin-left: auto;
  margin-right: auto;
  max-width: 568px;
  position: relative;
  z-index: 10;

  @media only screen and (min-width: $break-900) {
    max-width: 1136px;
  }
}

.offer-img-copy-grid,
.offer-copy-img-grid,
.offer-copy-copy-grid {
  @media only screen and (min-width: $break-900) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.offer-img-copy-grid {
  grid-template-areas: "img copy";
}

.offer-copy-img-grid {
  grid-template-areas: "copy img";
}

.offer-copy-copy-grid {
  grid-template-areas: "copy copy-b";
}

.offer-img {
  grid-area: img;

  img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.offer-copy {
  grid-area: copy;
  margin-bottom: 3rem;
  padding: 1rem;
  text-align: left;

  @media only screen and (min-width: $break-900) {
    margin: 2rem 2rem 0;
    padding: 1rem;
  }
}

.offer-copy-b {
  grid-area: copy-b;
}

.offer-title {
  margin: 0;
}

.offer-sub-title {
  margin: 0;
  text-transform: uppercase;
}

.background-hexagon-a {
  background: var(--color-white);

  clip-path: var(--hexagon);
  --size: 79.75vw;
  height: var(--size);
  width: calc(var(--size) * var(--hexagon-width-ratio));

  position: absolute;
  --offset-x: -0.3;
  --offset-y: 0;
  right: calc(var(--size) * var(--offset-x));
  top: 35px;
  z-index: 0;

  @media only screen and (min-width: $break-900) {
    top: 0;
  }
}

.background-hexagon-b {
  background: var(--color-white);

  clip-path: var(--hexagon);
  --size: 70vw;
  height: var(--size);
  width: calc(var(--size) * var(--hexagon-width-ratio));

  position: absolute;
  --offset-x: -0.3;
  --offset-y: 0;
  left: calc(var(--size) * var(--offset-x));
  bottom: 59px;
  z-index: 0;

  @media only screen and (min-width: $break-900) {
    bottom: 0;
    --size: 46vw;
  }
}

.faq {
  margin: 0 auto;
  max-width: 850px;
  padding: 5rem 1rem;
}

.faq-title {
  margin-bottom: 5rem;
}

.faq-item {
  border-bottom: 1px solid var(--color-gray);
  padding: 1.5rem 0;
}

.faq-item[open] {
  .faq-summary::before {
    content: "-";
    left: 4px;
  }
}

.faq-summary {
  cursor: pointer;
  display: list-item;
  list-style: none; // hide triangle
  position: relative;

  &::-webkit-details-marker {
    display: none;
  }

  &::before {
    color: var(--color-yellow);
    content: "+";
    position: absolute;
    left: 0;
    top: -1px;
    font-size: 1.9rem;
    line-height: 1;
  }
}

.faq-question {
  font-size: $font-size-h4;
  margin-top: 0;
  padding-left: 2rem;
}

.faq-answer {
  padding-left: 2rem;
}
