.sib-form {
  border: 4px dotted var(--color-maroon);
  border-radius: $border-radius;
  margin: 2em 0;
  padding: 1em;
}

#error-message {
  color: #661d1d;
  background-color: #ffeded;
  border-radius: $border-radius;
  border-color: #ff4949;
}

#success-message {
  color: #085229;
  background-color: #e7faf0;
  border-radius: $border-radius;
  border-color: #13ce66;
}

.entry__error {
  color: #661d1d;
  display: none;
  background-color: #ffeded;
  border-radius: $border-radius;
  border-color: #ff4949;
  margin-bottom: 1em;
  padding: 0.24em 1em;
}

.sib-form-message-panel {
  display: none;
  margin-bottom: 1em;
  padding: 0.24em 1em;
}

.sib-form-message-panel--active {
  display: block;
}

.sib-hide-loader-icon {
  display: none;
}

.sib-loader-icon {
  fill: #fff;
  height: 20px;
  width: 20px;
}

.button:hover {
  .sib-loader-icon {
    fill: var(--color-brand);
  }
}

.progress-indicator__icon {
  animation: indicator-spin 1.3s cubic-bezier(0.46, 0.35, 0.39, 0.85) infinite;
}
@keyframes indicator-spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.consent {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 0.24em;

  p {
    font-size: $font-size-small;
    margin: 0;
    opacity: 0.5;
  }
}

.consent-checkbox {
  margin-right: 0.24em;
  position: relative;
  top: -1px;
}

.legal-copy {
  font-size: 0.7em;
  opacity: 0.5;
}

.grecaptcha-badge {
  visibility: hidden;
}
