.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.responsive-img {
  height: auto;
  max-width: 100%;
}

.is-yellow-text {
  color: var(--color-yellow);
}

.is-centered-text {
  text-align: center;
}

.is-italic-text {
  font-style: italic;
}

.has-top-margin {
  margin-top: 4rem;
}

.has-bottom-margin {
  margin-bottom: 4rem;
}

.has-side-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

@mixin skip-link {
  -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  padding: 0;
}

.skip-link {
  @include skip-link;
}

@mixin sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px !important;
}

.sr-only {
  @include sr-only;
}

.is-invisible-mobile {
  @media only screen and (max-width: $break-900-max) {
    @include sr-only;
  }
}

.skip-link.display-at-top-on-focus {
  top: 0;
  left: 0;
  width: 100%;
}

.skip-link.display-at-top-on-focus:focus {
  -webkit-clip-path: none;
  clip-path: none;
  z-index: 999;
  height: 80px;
  line-height: 80px;
  background: white;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--color-maroon);
  text-align: center;
}

#skip-link-target:focus {
  background: var(--color-brand);
  color: white;
}
