:root {
  --color-black: #111;
  --color-white: #fff;
  --color-gray: #ccc;
  --color-yellow: #ffc712;
  --color-orange: #f69522;
  --color-maroon: #42120e;
  --color-brand: #42120e;
  --color-brand-light: #f69522;

  --typeface-heading: 'Oswald', sans-serif;

  --hexagon: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  --hexagon-width-ratio: 1.1547005;

  --masonry-gap: 1rem;
}

$typeface-body: helvetica, arial, sans-serif;

$font-size-h1: 3.052rem;
$font-size-h2: 2.441rem;
$font-size-h3: 1.953rem;
$font-size-h4: 1.563rem;
$font-size-h5: 1.25rem;
$font-size-small: 0.8rem;

$border-radius: 3px;
$hover-transition-time: 0.25s;

// Breakpoints
$break-900-max: 899px;
$break-900: 900px;
$break-768: 768px;
$break-468: 468px;
