---
layout: default
---

<div class="container blog-template has-side-padding">
  <article class="post">
    <header class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    {% assign posts=site.posts | where:"lang", page.lang %}

    <div>
      {% for post in posts %}
      <article class="post-preview">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt }}</p>
      </article>
      {% endfor %}
    </div>
  </article>
</div>